{% extends "auctions/layout.html" %}

{% block body %}

    <h2> Create Listing </h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

{% if messages %}
<div class="alert alert-warning" role="alert">
{{ messages }}
</div>
{% endif %}

<div class="container">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
      <label class="label">{{ form.title.label }}</label>
      <div class="input">{{ form.title }}</div>
      <label class="label">{{ form.content.label }}</label>
      <div class="input">{{ form.content }}</div>
      <label class="label">{{ form.image.label }}</label>
      <div class="input">{{ form.image }}</div>
      <label class="label">Minimal bid</label>
      <div class="input">{{ form.min_bid }}</div>
      <label class="label">{{ form.category.label }}</label>
      <select name="choices" id="choices">
        {% for category in categories %}
        <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
